#colorOne {
    height: 100px;
    width: 100%;
    margin: 5px;
    background-color: red
}

#colorTwo {
    height: 100px;
    width: 100%;
    margin: 5px;
    background-color: red
}

#colorThree {
    height: 100px;
    width: 100%;
    margin: 5px;
    background-color: red
}